<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncvas.common.dao.AccountLoginMapper">

	<resultMap type="com.ncvas.payment.entity.AccountLogin" id="memberResultMap">
		<id property="id" column="ID" />
		<result property="memberCode" column="MEMBER_CODE" />
		<result property="loginName" column="LOGIN_NAME" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="balance" column="BALANCE"/>
		<result property="email" column="EMAIL"/>
		<result property="mobile" column="MOBILE"/>
		<result property="custName" column="CUST_NAME"/>
		<result property="levelCode" column="LEVEL_CODE"/>
		<result property="sex" column="SEX"/>
		<result property="address" column="ADDRESS"/>
		<result property="nickname" column="NICKNAME"/>
		<result property="created" column="CREATED"/>
		<result property="updatedate" column="UPDATE_DATE"/>
		<result property="aliascode" column="ALIASCODE"/>
		<result property="logintime" column="LOGIN_TIME"/>
		<result property="logincount" column="LOGIN_COUNT"/>
		<result property="reqBizType" column="REQ_BIZ_TYPE"/>
	</resultMap>

	<insert id="add" parameterType="com.ncvas.payment.entity.AccountLogin">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT SEQ_NJCC_ACCOUNT_MEMBER.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NJCC_ACCOUNT_MEMBER
		(ID, MEMBER_CODE,LOGIN_NAME,MEMBER_NAME,BALANCE,EMAIL,MOBILE,CUST_NAME,LEVEL_CODE,SEX,ADDRESS,NICKNAME,CREATED,UPDATE_DATE,ALIASCODE,LOGIN_TIME,LOGIN_COUNT, REQ_BIZ_TYPE)
		VALUES
		(
		#{id, jdbcType=VARCHAR},
		#{memberCode, jdbcType=VARCHAR},
		#{loginName, jdbcType=VARCHAR},
		#{memberName, jdbcType=VARCHAR},
		#{balance, jdbcType=VARCHAR},
		#{email, jdbcType=VARCHAR},
		#{mobile, jdbcType=VARCHAR},
		#{custName, jdbcType=VARCHAR},
		#{levelCode, jdbcType=VARCHAR},
		#{sex, jdbcType=VARCHAR},
		#{address, jdbcType=VARCHAR},
		#{nickname, jdbcType=VARCHAR},
		SYSDATE,
		#{updatedate, jdbcType=TIMESTAMP},
		#{aliascode, jdbcType=TIMESTAMP},
		#{logintime, jdbcType=TIMESTAMP},
		#{logincount, jdbcType=TIMESTAMP},
		#{reqBizType, jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.ncvas.payment.entity.AccountLogin">
		UPDATE NJCC_ACCOUNT_MEMBER
		<set>
			<if test="memberCode !=null and memberCode !=''">
				MEMBER_CODE		=		#{memberCode, jdbcType=VARCHAR},
			</if>
			<if test="loginName !=null and loginName !=''">
				LOGIN_NAME			=		#{loginName, jdbcType=VARCHAR},
			</if>
			<if test="memberName !=null and memberName !=''">
				MEMBER_NAME		=		#{memberName, jdbcType=VARCHAR},
			</if>
			<if test="balance !=null and balance !=''">
				BALANCE			=		#{balance, jdbcType=VARCHAR},
			</if>
			<if test="email !=null and email !=''">
				EMAIL			=		#{email, jdbcType=VARCHAR},
			</if>
			<if test="mobile !=null and mobile !=''">
				MOBILE			=		#{mobile, jdbcType=VARCHAR},
			</if>
			<if test="custName !=null and custName !=''">
				CUST_NAME			=		#{custName, jdbcType=VARCHAR},
			</if>
			<if test="levelCode !=null and levelCode !=''">
				LEVEL_CODE			=		#{levelCode, jdbcType=VARCHAR},
			</if>
			<if test="sex !=null and sex !=''">
				SEX			=		#{sex, jdbcType=VARCHAR},
			</if>
			<if test="address !=null and address !=''">
				ADDRESS			=		#{address, jdbcType=VARCHAR},
			</if>
			<if test="nickname !=null and nickname !=''">
				NICKNAME			=		#{nickname, jdbcType=VARCHAR},
			</if>
			<if test="updatedate !=null">
				UPDATE_DATE		    =		#{updatedate, jdbcType=TIMESTAMP},
			</if>
			<if test="aliascode !=null and aliascode !=''">
				ALIASCODE		    =		#{aliascode, jdbcType=TIMESTAMP},
			</if>
			<if test="logintime !=null and logintime !=''">
				LOGIN_TIME		    =		#{logintime, jdbcType=TIMESTAMP},
			</if>
			<if test="logincount !=null and logincount !=''">
				LOGIN_COUNT		    =		#{logincount, jdbcType=TIMESTAMP},
			</if>
			<if test="reqBizType !=null and reqBizType !=''">
				REQ_BIZ_TYPE		=		#{reqBizType, jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id}
	</update>

	<select id="query" resultMap="memberResultMap" parameterType="com.ncvas.payment.entity.AccountLoginDTO">
		SELECT * FROM (
		SELECT
		T.*,
		ROWNUM AS RN
		FROM (
		SELECT * FROM(
		SELECT M.*,R.REFEREE FROM NJCC_ACCOUNT_MEMBER M
		LEFT JOIN NJCC_ACCOUNT_REGISTER R
		ON M.LOGIN_NAME = R.LOGINNAME
		<choose>
			<when test="dto.orders != null and dto.orders !='' ">
				ORDER BY ${dto.orders}
			</when>
			<otherwise>
				ORDER BY M.CREATED DESC
			</otherwise>
		</choose>)
		)T
		WHERE
		ROWNUM &lt;= #{endNum}
		<if test="dto.id != null and dto.id != ''">AND ID = #{dto.id}</if>
		<if test="dto.aliascode != null and dto.aliascode != ''">AND ALIASCODE like '%'|| #{dto.aliascode}||'%'</if>
		<if test="dto.loginName != null and dto.loginName != ''"> AND LOGIN_NAME  = #{dto.loginName}</if>
		<if test="dto.reqBizType != null and dto.reqBizType != ''"> AND REQ_BIZ_TYPE  = #{dto.reqBizType}</if>
		<if test="dto.reqBizTypeList != null and dto.reqBizTypeList.size()>0">AND
			REQ_BIZ_TYPE IN
			<foreach collection="dto.reqBizTypeList" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="dto.creationtime != null and  dto.creationtime !=''"> AND CREATED between
			to_date(#{dto.creationtime},'yyyy-MM-dd HH24:mi:ss') and  to_date(#{dto.creationendtime},'yyyy-MM-dd HH24:mi:ss')</if>
		<if test="dto.createdBegin != null and  dto.createdBegin !=''"> AND CREATED &gt;=
			to_date(#{dto.createdBegin},'yyyy-MM-dd HH24:mi:ss')</if>
		<if test="dto.createdEnd != null and  dto.createdEnd !=''"> AND CREATED &lt;=
			to_date(#{dto.createdEnd},'yyyy-MM-dd HH24:mi:ss')</if>
		) WHERE RN &gt; #{beginNum}
	</select>

	<select id="get" resultMap="memberResultMap">
		SELECT
		T.*
		FROM NJCC_ACCOUNT_MEMBER T
		WHERE ID = #{id}
	</select>

	<select id="getAccountLogin" resultMap="memberResultMap">
		SELECT
		T.*
		FROM NJCC_ACCOUNT_MEMBER T
		WHERE
		1=1
		<if test="dto.memberCode != null and dto.memberCode != ''"> AND MEMBER_CODE  = #{dto.memberCode}</if>
		<if test="dto.loginName != null and dto.loginName != ''"> AND LOGIN_NAME  = #{dto.loginName}</if>
	</select>

	<select id="count" resultType="int" parameterType="com.ncvas.payment.entity.AccountLoginDTO">
		SELECT
		COUNT(*)
		FROM (
		SELECT M.*,R.REFEREE FROM NJCC_ACCOUNT_MEMBER M
		LEFT JOIN NJCC_ACCOUNT_REGISTER R
		ON M.LOGIN_NAME = R.LOGINNAME
		)
		WHERE
		1=1
		<if test="dto.id != null and dto.id != ''">AND ID = #{dto.id}</if>
		<if test="dto.aliascode != null and dto.aliascode != ''">AND ALIASCODE like '%'|| #{dto.aliascode}||'%'</if>
		<if test="dto.loginName != null and dto.loginName != ''"> AND LOGIN_NAME  = #{dto.loginName}</if>
		<if test="dto.reqBizType != null and dto.reqBizType != ''"> AND REQ_BIZ_TYPE  = #{dto.reqBizType}</if>
		<if test="dto.reqBizTypeList != null and dto.reqBizTypeList.size()>0">AND
			REQ_BIZ_TYPE IN
			<foreach collection="dto.reqBizTypeList" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="dto.creationtime != null and  dto.creationtime !=''"> AND CREATED between
			to_date(#{dto.creationtime},'yyyy-MM-dd HH24:mi:ss') and  to_date(#{dto.creationendtime},'yyyy-MM-dd HH24:mi:ss')</if>
		<if test="dto.createdBegin != null and  dto.createdBegin !=''"> AND CREATED &gt;=
			to_date(#{dto.createdBegin},'yyyy-MM-dd HH24:mi:ss')</if>
		<if test="dto.createdEnd != null and  dto.createdEnd !=''"> AND CREATED &lt;=
			to_date(#{dto.createdEnd},'yyyy-MM-dd HH24:mi:ss')</if>
	</select>
</mapper>
